.body_background 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    background-image:url(BirthdayImage.jpg);
   border-width: 10px;
   background-color: white;
   border-style: ridge;
   border-color: greenyellow;
}

p
{
    color: lightcoral;
    font-size: 30px;
    background-color:lightskyblue;
}